/*  Section header  */
.header {
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    grid-template-areas: "menu logo address";
    padding: 92px 24px 96px;
}

.header__menu {
    grid-area: menu;
    display: flex;
    padding-left: 27px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 31px;
    list-style-type: circle;
    font-size: 18px;
}

.header__links-list-item {

}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link {
    text-decoration: none;
    border-bottom: 1px solid black;
}

.header__link_active {
    border: none;
}

.header__logo {
    grid-area: logo;
    display: flex;
    width: 148px;
    height: 105px;
}

.header__logo-image {

}

.address {
    width: 240px;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.address a {
    border-bottom: 1px solid;
    text-decoration: none;
}

.header__address {
    grid-area: address;
    margin-right: 26px;
    justify-content: end;
    justify-self: end;
}
/*  End section header  */


/*  Section cover  */
.cover {
    position: relative;
    padding: 165px 50px 51px;
    background-image: url("../images/cover.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
    position: relative;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
    font-weight: 700;
    font-size: 100px;
    line-height: 115px;
    letter-spacing: 0.3em;
}

.aligned-text_center {
    display: block;
    padding: 20px 0;
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0.3em;
}

.aligned-text_right {
    display: block;
    text-align: end;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0.3em;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: unset;
}

.cover__description {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 100px;
    padding-top: 135px;
    position: relative;
    z-index: 1;

}

.cover__description-text {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    word-spacing: 11px;
}

.bet-button {
    background: transparent;
    border: 1px solid white;
    width: 256px;
    height: 51px;

    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
}

.bet-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
/*  End section cover  */


/*  Section lots  */
.lots {
    margin: 180px 24px 0;
}

.lots__heading {
    padding-left: 40px;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    gap: 25px;
    list-style-type: none;
    margin-top: 27px;
}

.lots__card-list-item {
    color: white;
    position: relative;
    width: 334px;
    height: 563px;
}

.card-link {
    position: absolute;
    inset: 0;
}

.card {
    position: absolute;
    inset: 0;
    padding: 51px 40px 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
    background-position: center;
    background-size: cover;
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
    background-position: center;
    background-size: cover;
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
    background-position: center;
    background-size: cover;
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: underline;
}

.card__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.lots__look-more-link {
    display: block;
    padding-top: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-decoration: underline;
}
/*  End section lots  */

/*  Section about  */
.about {
    background-color: aqua;
    display: grid;
    grid-template-columns: 359px 693px;
    grid-template-areas: 'logo column';
    margin: 148px 24px 0;
}


.about__logo {
    grid-area: logo;
    position: relative;
    margin: 35px 47px;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    background-color: black;
}

.about__logo-image {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 148px;
    height: 114px;
}

.about__column {
    grid-area: column;
    margin: 133px 0 0;
}

.about__title {
    text-transform: uppercase;
    margin-bottom: 100px;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
}

.about__text {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
/*  End section about  */


/*  Footer section  */
.footer {
    margin: 180px 50px 88px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer__menu {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.footer__menu-list {
    text-align: center;
    list-style-type: none;
}

.footer__menu-list-item {

}

.footer__menu-link {

}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: end;
    gap: 48px;
    list-style-type: none;

}

.footer__social-list-item {
    width: 48px;
}

.footer__social-link {

}

.footer__social-icon {

}
/*  End footer section  */